{% extends 'base.html.twig' %}

{% block title %}Listagem de clientes - {% endblock %}

{% block body %}

    {% for flashMessage in app.session.flashbag.get('success') %}

        <div class="alert alert-success">
            {{ flashMessage }}
        </div>
        
    {% endfor %}

    {% for flashMessage in app.session.flashbag.get('warning') %}

        <div class="alert alert-warning">
            {{ flashMessage }}
        </div>
        
    {% endfor %}

    <div class="container">

        <h1 class="mt-4">Listagem de clientes</h1>
        <hr>

        <div class="row">
            <div class="col-md-12">
                <a class="btn btn-lg btn-primary float-right" href="{{ path('cadastrar_cliente') }}">Adicionar cliente</a>
            </div> 
        
            <div class="col-md-12">
                <table class="table table-striped table-hover mt-5">
                    <thead>
                        <tr>
                            <th>Cod.</th>
                            <th>Nome</th>
                            <th>Email</th>
                            <th>Ações</th>
                        </tr>
                    </thead>
                    <tbody>
            
                        {% for cliente in clientes %}
            
                            <tr>
                                <td>{{ cliente.id }}</td>
                                <td> <a href="{{ path("visualizar_cliente", {'id': cliente.id}) }}"> {{ cliente.nome }}</a></td>
                                <td>{{ cliente.email }}</td>
                                <td>
                                    <a class="btn btn-sm btn-primary" href="{{ path('index') }}"><i class="fas fa-eye"></i></a>
                                    <a class="btn btn-sm btn-warning" href="{{ path('index') }}"><i class="fas fa-pencil-alt"></i></a>
                                    <a class="btn btn-sm btn-danger btn-delete-product" href="{{ path('index') }}"><i class="fas fa-trash"></i></a>
                                </td>
                            </tr>
            
                        {% else %}
                            
                            <tr>
                                <td colspan="3">Nenhum registro encontrado</td>
                            </tr>
                        
                        {% endfor %}
            
                    </tbody>
            
                </table>
            </div>
        </div>

    </div>

{% endblock %}
